.WelcomeBannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 90vh;
}

.HomeMenuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 500px;
    height: 55px;
    margin: 8px auto;
    padding: 5px 0;
    border: 1px solid #d9d6cf;
    border-radius: 50px;
    background-color: white;
}

.HomeMenuBarListItems{
    padding: 10px 13px;
    border-radius: 25px;
}

.HomeMenuBarListItems:hover{
    background-color: transparent;
    padding: 10px 12px;
    border: 1px solid #E2AB3C;
    border-radius: 25px;
}

.HomeMenuBarListItemsARef {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
}

.AboutIslam {
    width: 85%;
    margin: 10px auto;
}

.AboutIslamContainer {
    display: flex;
    margin: 0;
    padding: 20px 0;
    height: 550px;
}

.LeftSideAboutIslamContainer {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
}

.AboutIslamContainerImages {
    width: 350px;
    height: 550px;
    border-radius: 20px;
}

.RightSideAboutIslamContainer {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
}

.Heading1 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 22px;
}

.Heading2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.Paragraph {
    font-size: 17px;
}

.Paragraph1, .Paragraph2, .Paragraph3, .Paragraph4, .Paragraph5,.Paragraph6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 12px;
}

.button-counter {
    width:  200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background-color:rgb(107, 171, 227);
    cursor: pointer;
}

.button-counter:hover{
    background-color: rgb(131, 182, 225);
}

.line-one-arabic {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0;
}

.line-one-english {
    font-size: 12px;
    font-style: italic;
}