.WelcomeBannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 90vh;
}

.HomeMenuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 500px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    border: none;
    border-radius: 20px;
    background-color: white;
}

.HomeMenuBarListItems{
    background-color: transparent;
    padding: 10px 12px;
    border-radius: 25px;
}

.HomeMenuBarListItems:hover{
    background-color: #e2ab3c;
    padding: 10px 12px;
    border-radius: 25px;
}

.HomeMenuBarListItemsARef {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
}

.button-counter {
    width:  200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background-color:rgb(107, 171, 227);
    cursor: pointer;
}

.button-counter:hover{
    background-color: rgb(131, 182, 225);
}

.line-one-arabic {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0;
}

.line-one-english {
    font-size: 12px;
    font-style: italic;
}